site_name: GitHub Actions for Embedded - running HIL tests
site_description: Webpage with support materials for tutorials on running HIL tests using GitHub Actions.
site_url: https://niwciu.github.io/GHA_HIL
repo_url: https://github.com/niwciu/GHA_HIL
site_author: niwciu

theme:
  name: material
  language: en
  logo: assets/logo.png
  favicon: assets/logo.png
  features:
    - navigation.instant
    - navigation.top
    - navigation.sections
    - navigation.expand
    - navigation.footer
    - content.code.copy
    - content.tabs.link
    - content.tooltips
    - content.code.annotate
    - header.autohide
    - footer.social
  palette:
    - scheme: slate  
      toggle:
        icon: material/weather-sunny
        name: Dark mode
      accent: deep purple
    - scheme: default  
      toggle:
        icon: material/weather-night
        name: Light mode
      primary: blue
      accent: deep orange

markdown_extensions:
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - admonition
  - pymdownx.details
  - toc:
      permalink: true
      toc_depth: 2
  - tables
  - pymdownx.highlight
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true

nav:
  - Home: index.md
  - Test server installation: hil_server_installation_manual.md
  - HIL fundamentals: hil_fundamentals.md
  - Example project description: example_project_decription.md
  - How to use Framework: working_with_hiltest_framework.md

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/niwciu/GHA_HIL
    - icon: fontawesome/solid/envelope
      link: mailto:niwciu@gmail.com
    - icon: simple/youtube
      link: https://www.youtube.com/@MyEmbeddedWay/videos

plugins:
  - search
  - i18n:
      default_language: en
      languages:
        en: English
        pl: Polski

copyright: Copyright &copy; 2025 niwciu
